@model EMarket.ViewModel.ProductsCartIDsViewModel
@{
    ViewBag.Title = "listProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #custom-button {
        margin-left: 5px;
        padding: 10px;
        color: white;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
        background-color: #009578;
    }

        #custom-button:hover {
            text-decoration: none;
            background-color: #007c63
        }
</style>

<div style="height: auto; overflow:hidden">
    <form class="form-inline my-2 my-lg-0" style="float:left;" action="ListOneCategory" method="post">
        <label style="margin-right:7px; font-weight: bold">Filter:</label>
        <input value="@ViewBag.category" id="Search" class="form-control mr-sm-2" type="text" name="categoryName" placeholder="Enter category name" style="width:222250px;border-radius:10px">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="background:none;border:none; padding:0px">
            <img src="~/search.png" height="35" width="35" style="background-color:none; border:1.5px solid #1d2156; border-radius:100%; padding:6px 6px 6px 6px" />
        </button>
    </form>
    <a href="@Url.Action("AddProduct", "Products")" id="custom-button" style="float:right; margin-top: 10px">Add Product</a>
</div>
<div style="height: auto; text-align: center; font-weight: bold;margin-bottom:-30px; ">
    @if (ViewBag.categoryName == null)
    {
        <span style="border-bottom: 1.5px solid; font-size: 48px">
            All Products
        </span>
    }
    else
    {
        <span style="border-bottom: 1.5px solid; font-size: 48px">
            @ViewBag.categoryName
        </span>
    }

</div>


<div class="container" style="margin-top:50px">
    <div class="row">
        @foreach (var product in Model.products)
        {   @*Check if the product exists in the cart or not to disable its "Add To Cart" button*@
            if(Model.cartProductsIDs.Contains(product.id))
            {
                Model.inCart = true;
            }
            else { Model.inCart = false; }
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="clickable" style="cursor: help; min-height:300px; overflow:hidden; border-radius: 15px;
                                                                text-align:center;border:1.5px solid #000; border-top-width:0.45px;
                                                                padding-top:10px; position:relative; margin-top: 30px;">
                    <img src="@Url.Content(product.image)" style="max-height:130px  ; width:auto" title="@product.name" />
                    <div style="height:30%; width:100%; overflow:hidden">
                        <p style="font-weight:bolder">@product.name</p>
                        <p style="margin-top:-15px">@product.price EGP</p>
                    </div>
                    <a href="@Url.Action("ViewDetails","Products", new { id = product.id }, null)"></a>
                    <input type="hidden" value="@product.CategoryId">
                    @if (Model.inCart == false)
                    {
                        <a href="@Url.Action("addToCart","Products",new { id = product.id })" class="btn btn-outline-primary" style="position:absolute; bottom:0px; right:0; left:0;">Add To Cart</a>
                    }
                    else { <a href="@Url.Action("addToCart","Products",new { id = product.id })" class="btn btn-primary disabled" style="position:absolute; bottom:0px; right:0; left:0; pointer-events: none; cursor: default">Add To Cart</a> }
                </div>
            </div>
        }
    </div>
</div>

@*That script make the Div that contains each procduct clickable to link to "View Details" action*@
<script>
    $(document).ready(function () {
        $('.clickable').click(function () {
            window.location = $(this).find("a").attr("href");
        });
    });
</script>