<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/sale.png" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .close:hover {
                opacity: 1;
              }
              .close:before, .close:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 15px;
                width: 2px;
                background-color: #333;
              }
              .close:before {
                transform: rotate(45deg);
              }
              .close:after {
                transform: rotate(-45deg);
              }
              .close{
                  color:#000;
                  font-size:45px
              }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>

    <script>
        $(document).ready(function () {
            $(".mqcspan").click(function () {

                $(".mqcDiv").animate({
                    width: '98%',
                    height: '100%',
                });
                $(".mqc").animate({
                    width: '75%',
                    height: '25px'
                });
                $(".mqc").animate({
                    height: '100%',
                });

                $(".mqcDiv").animate({
                    borderRadius: '20px',
                });
                $(".popUpTitle").show();
            });

            $(".close").click(function(){
      $(".mqc").animate({
         height:'25px' 
      });
      
      $(".mqc").animate({
         height:'0px',
         width:'0px'
      });
      
      $(".mqcDiv").animate({
         height:'0px',
         width:'0px'
      });
   });
        });
    </script>
</head>
<body style="margin-left:auto; margin-right:auto; width:100%; position: relative">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-top:-50px; padding:10px 5px 10px 40px; margin-bottom:20px; position: sticky; top:0; z-index:9999">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="font-weight: bold; font-size:29px">
            <span style="font-size:34px">3S</span>DF
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("listProducts", "Products")">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                </li>
            </ul>
            <span class="btn btn-secondary my-2 my-sm-0 mqcspan" href="@Url.Action("Login", "Home")" style="background:none; border:none">
                Go to Cart List &rarr;
            </span>
        </div>
    </nav>
    <div class="container body-content" style="z-index:1">
        <div class="mqcDiv" style="height: auto;margin: 0px auto;left: 10px;right: 10px;opacity: 0.975;background-color: black;position: absolute;text-align: center;z-index: 2;"></div>
        <div class="mqc" style="height: auto; margin: 0 auto;z-index: 3;left: 50px;right: 50px;border-radius: 20px;position: absolute;background-color: white;overflow: auto">
            <p class="popUpTitle" style="display: none; text-align:center; font-size:40px; border-bottom:2.5px solid black; font-weight:bold; margin:5px auto 10px">Cart List</p>
            <a style="cursor: pointer;position: absolute;right: 15px;top: 10px;width: 20px;height: 20px;opacity: 0.3;" class="close"></a>
                @foreach (var Cartproduct in ViewBag.CartProducts)
                 {
                    <div class="popUpTitle" style="position: relative; border-radius: 5px; display: none; border: 1.5px solid black; overflow: hidden; margin-bottom: 15px; background-color: rgba(0,0,0,0.2); padding-right: 5px">
                        <div style="float: right; width:75%; padding-left: 15px">
                            @foreach (var Product in ViewBag.Products)
                            {
                                if (Product.id == Cartproduct.product_id)
                                {
                                    var product = Product;
                                    <p class="popUpTitle" style="display: none">@product.name - @product.price EGP</p>
                                }
                            }
                            @{TimeSpan value = DateTime.Now - Cartproduct.added_at;}
                            @if (value.Days == 0)
                            {
                                if (value.Hours == 0 && value.Minutes == 0)
                                {
                                    <p class="popUpTitle" style="display: none">Added to cart<span style="margin-right: 10px; margin-left:10px; color: #b70000; font-weight: bold">@value.Seconds seconds</span>ago</p>
                                }
                                else if (value.Hours == 0)
                                {
                                    <p class="popUpTitle" style="display: none">Added to cart<span style="margin-right: 10px; margin-left:10px; color: #b70000; font-weight: bold">@value.Minutes minutes @value.Seconds seconds</span>ago</p>
                                }
                                else if (value.Minutes == 0)
                                {
                                    <p class="popUpTitle" style="display: none">Added to cart<span style="margin-right: 10px; margin-left:10px; color: #b70000; font-weight: bold">@value.Hours hours</span>ago</p>
                                }
                                else
                                {
                                    <p class="popUpTitle" style="display: none">Added to cart<span style="margin-right: 10px; margin-left:10px; color: #b70000; font-weight: bold">@value.Hours hours & @value.Minutes minutes</span>ago</p>
                                }
                            }
                            else
                            { <p class="popUpTitle" style="display: none">Added to cart<span style="margin-right: 10px; margin-left:10px; color: #b70000; font-weight: bold">@value.Days days & @value.Hours hours</span>ago</p>}
                        </div>
                        <a href="@Url.Action("removeFromCart", "Products", new { id = Cartproduct.product_id })" class="btn btn-danger" style="color:white; float: left; width:25%; border-right: 1.5px solid #000; position: absolute; top:0; left:0; height: 100%; padding: 3px; font-weight: bold">
                            <p style="position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); font-size: 1.5vw; border-radius:5px; text-align: center; border-bottom: 2px solid">Remove</p>
                        </a>
                    </div>
                 }
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <span style="font-weight:900; font-size:large">3</span>SDF</p>
        </footer>
    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>